.fit-cover {
  object-fit: cover;
}

.hotspot {
  position: absolute;
  border-radius: 5px;
  width: 20%;
  height: 5%;
  background-color: rgba(255, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.hotspot:hover {
  transform: scale(1.2);
}

